/* @media screen and (max-width: 620px){
  .container{
    width: 100%;
  }
  
  .label-burger {
    display: block;
    font-weight: bolder;
    font-size: 41px;
    color: #045157;
   }

  .menu {
    display: none;
  }

  #burger:checked + .menu {
    display: flex;
    position: absolute;
    right: 0;
    top: 63px;
    width:70%;
    height: 75.1vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E7ECEA;
  }

  .quote-image{
    border-radius: 0;
    z-index: 0;
    width: 100%;
    height: 75vh;
    margin: 0;
  }
  .navbar{
    justify-content: space-between;
    width: auto;
    padding: 0px 20px;
  }
  .heading{
    min-width: 190px;
  }
  .nav-links{
    min-width: 95px;
    flex-direction: column;
    margin-left: 10px;
  }
  .modal-content{
    flex-direction: column;
    border-radius: 0;
    z-index: 2;
    position: absolute;
    top: 91px;
    height: 100vh;
    width: 80%;
    margin-bottom: 0;
  }
  .quote-functionality{
    z-index: 1;
    background-color: rgba(0,0,0,0);
    margin-top: 0;
    position: absolute;
    bottom: -20px;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .settings-wrap{
    position: absolute;
    top: -710px;
    right: 60px;
  }
  .new-quote-wrap{
    margin: 0;
  }
  .main-functions{
    width: auto;
  }
  .btn-grp{
    width: auto;
    margin-bottom:10px;
  }
  .quote{
    font-size: 1.6rem !important;
  }
  .color-settings{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .font-color-settings{
    display: flex;
    flex-direction: column;
  }
  .background-color-settings{
    display: flex;
    flex-direction: column;
  }
  .options{
    height: auto;
    align-items: space-between;
    justify-content: space-between;
  }
  input[type="radio"]{
    width: 40px;
    height: 40px;
  }
  .title{
    font-size: 16px;
  }
  .layout-settings{
    display: none;
  }
  input[type="checkbox"]{
    width: 40px;
    height: 40px;
  }
  .font-settings{
    border-left: none;
    padding-right: 0;
    width: 100%;
    padding-left: 0;
  }
  .font-settings .title{
    margin-top: 0;
  }
  .font-select{
    height: 35px;
    margin-left: 10px;
  }
  .random-image-btn{
    top: -50px;
    left: 50%;
    width: 110px;
    height: 110px;
  }
  .button-text{
    font-size: 18px;
  }
}

 */
