* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcf9f9;
}

.heading {
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #045157;
}

.home-page {
  text-decoration: none;
  color: #045157;
}

.title {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #5d8c89;
}

.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.nav-links {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: #5d8c89;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.quote-container {
  height: 100%;
}

.quote-image {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #6869ac;
  border-radius: 40px;
  padding: 36px 0;
  height: 100%;
  /* min-height: 630px; */
}

.quote-text {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.quote {
  font-size: 64px;
  font-family: "Yeseva One", cursive;
}

.quote-author {
  font-size: 20px;
  font-family: "Yeseva One", cursive;
}

.func-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
}

.settings-wrap:hover {
  background-color: #045157ad;
}

.new-quote-btn:hover {
  background-color: #045157ad;
}

.quote-functionality {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: white;
  border-radius: 40px;
  margin-top: 24px;
  padding: 36px 32px;
  column-gap: 12px;
}

.toggle-br {
  border-radius: 40px 40px 0 0;
}

.btn-grp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 16px;
}

.new-quote-wrap {
  display: flex;
  justify-content: center;
}

.settings-wrap {
  background-color: #045157;
}

.new-quote-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #045157;
  /* width: 180px;
  height: 48px; */
  border-radius: 8px;
  border: none;
  padding: 12px 30px;
}

.radio-grp,
.layout-grp,
.format {
  display: flex;
  column-gap: 12px;
  flex-wrap: wrap;
  row-gap: 12px;
}

.btn-text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-left: 8px;
}

.link-wrap {
  background-color: #85a195;
}

.settings-icon {
  width: 24px;
  height: 24px;
}

.burger-menu {
  width: 24px;
  height: 24px;
  display: none;
}

.facebook-wrap {
  background-color: #3b5998;
}

.facebook-icon {
  width: 11.86px;
  height: 24px;
}

.twitter-wrap {
  background-color: #1da1f2;
}

.twitter-icon {
  margin-top: 4px;
  width: 24px;
  height: 24px;
}

.download-wrap {
  background-color: #045157;
}

.download-icon {
  width: 24px;
  height: 24px;
}

.color-settings {
  width: 30%;
}

.color-settings input {
  cursor: pointer;
  appearance: none;
  margin: 0;
  min-width: 32px;
  height: 32px;
  border: 4px solid white;
  border-radius: 50%;
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid #045157;
  outline-offset: max(2px, 0.15em);
}

.font-1 {
  background-color: white;
}

.font-2 {
  background-color: #f3d25a;
}

.font-3 {
  background-color: #e1c4cb;
}

.font-4 {
  background-color: #1c2078;
}

.bg-1 {
  background-color: #6869ac;
}

.bg-2 {
  background-color: #85a195;
}

.bg-3 {
  background-color: #d3927e;
}

.bg-4 {
  background-color: #c7aaaf;
}

.bg-img-settings {
  margin-top: 6px;
  width: 80%;
}

.random-image-btn {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  color: #045157;
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
  padding: 4px 8px;
  column-gap: 8px;
}

.button-text {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.btn-img {
  display: flex;
  align-items: center;
}

.font-settings {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding-left: 24px;
  /* padding-right: 150px; */
  border-left: solid 2px rgba(133, 161, 149, 0.2);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(/icons/expand.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
}

.font-select {
  cursor: pointer;
  background-color: white;
  padding: 8px 8px;
  border: none;
  border-radius: 8px;
  color: #045157;
  max-width: 200px;
  outline: none;
}

.layout-settings {
  width: 25%;
  padding-left: 24px;
  border-left: solid 2px rgba(133, 161, 149, 0.2);
}

.layout-settings input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 32px;
  height: 32px;
  cursor: pointer;
}

.layout-option,
.format-option {
  background-color: white;
  border-radius: 8px;
  width: 32px;
  height: 32px;
}

.layout-left {
  background-image: url(icons/align_left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.layout-center {
  background-image: url(icons/align_center.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.layout-right {
  background-image: url(icons/align_right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.format-vertical {
  background-image: url(icons/vertical_rectangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.format-square {
  background-image: url(icons/square.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.format-horizontal {
  background-image: url(icons/horizontal_rectangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/*Modal*/

.modal {
  display: none;
}

.modal-content {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  border-radius: 40px;
  background-color: #e7ecea;
  margin-top: 24px;
  margin-bottom: 24px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.5s;
  animation-name: slideIn;
  animation-duration: 0.5s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 300px;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 300px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.vertical-format {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 36px 0;
  height: 720px;
  width: 40%;
}

.square {
  position: relative;
  width: 50%;
}

.square-format:after {
  display: block;
  padding-bottom: 100%;
}

.courier {
  font-family: fantasy;
}

@media screen and (max-width: 705px) {
  .burger-menu {
    display: block;
  }

  .settings-wrap {
    display: none;
  }

  .quote-functionality {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    row-gap: 24px;
    width: 40%;
    z-index: 1;
    top: 52px;
    left: 0;
    padding-bottom: 48px;
  }

  @-webkit-keyframes slideIn {
    from {
      left: -300px;
      opacity: 0;
    }
    to {
      left: 0px;
      opacity: 1;
    }
  }

  @keyframes slideIn {
    from {
      left: -300px;
      opacity: 0;
    }
    to {
      left: 0px;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .font-settings {
    border-top: solid 2px rgba(133, 161, 149, 0.2);
    border-left: none;
    padding-left: 0px;
    row-gap: 8px;
    width: 100%;
    padding-top: 8px;
  }

  .radio-grp,
  .layout-grp,
  .format {
    display: flex;
    column-gap: 12px;
    flex-wrap: wrap;
    row-gap: 12px;
    width: 100%;
  }

  .layout-settings {
    width: 100%;
    border-top: solid 2px rgba(133, 161, 149, 0.2);
    border-left: none;
    padding-left: 0px;
    padding-top: 8px;
  }

  .color-settings {
    width: 100%;
  }

  .quote-text {
    font-size: 42px !important;
    font-family: "Yeseva One", cursive;
  }

  .quote-author {
    font-size: 16px !important;
    font-family: "Yeseva One", cursive;
  }
}

@media screen and (max-width: 705px) {
  .quote {
    font-size: 24px !important;
    font-family: "Yeseva One", cursive;
  }

  .quote-author {
    font-size: 12px;
    font-family: "Yeseva One", cursive;
  }

  .format-layout-settings {
    display: none;
  }

  .quote-image {
    /* min-height: 300px !important; */
    /* min-height: 0px; */
    padding: 0px 0px;
  }

  .modal-content {
    width: 60%;
  }
}
